[submodule "googlemock"]
	path = googlemock
	url = ../googlemock
[submodule "gtest"]
	path = gtest
	url = ../googletest
[submodule "cmake"]
	path = cmake
	url = ../cmake
[submodule "smartcardpp"]
	path = smartcardpp
	url = ../smartcardpp
