<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>All in PKCS11Context_C_GetSlotList.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>All in PKCS11Context_C_GetSlotList_Test.cpp (1).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>All in PKCS11Context_C_GetSlotList_Test.cpp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>PKCS11Context.C_GetSlotList_BufferTooSmall.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>PKCS11Context.C_GetSlotList_ReturnSlotCountForPresentTokens.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>RUN_TESTS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>esteid-pkcs11-test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>esteid-pkcs11.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>gmock.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>gmock_main.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>gtest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>gtest_main.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>runUnitTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>smartcardpp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>01BA4BF35414461C88857294</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03D10BC4E2754599A00F781F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A2E17D62CD54314B649E088</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0CBAAAD668134D558620F000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>195BA6FC8AFC414FA2E6CD0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F461C831ECF41F7AF02E8A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5DA0BAA541B3440CA6D61817</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83F1B7D20E0341A998442296</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0FD2491353B4F09B89195C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C71FB1E850444BF69B9E4051</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4B4D0DA83E847668B2BECFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F644A830184F5A7400E9C301</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
